In [7]:
# Dependencies
import requests
import json
import pandas as pd

from sqlalchemy import create_engine
# Google developer API key
from config import gkey

In [8]:
accidents_csv = "../../Resources/raw/Saferparks-dataset-legacy-v2.csv"
table_name = "accident_data"

geocode_json_base = "https://maps.googleapis.com/maps/api/geocode/json?"

In [9]:
df = pd.read_csv(accidents_csv, encoding="ANSI")

In [10]:
unique_cities = df["acc_city"].unique()

city_state_df = df[["acc_state", "acc_city"]].loc[df["acc_city"].isin(unique_cities)]
city_state_df.drop_duplicates(inplace=True)
city_state_df.reset_index(inplace=True, drop=True)
city_state_df.head()

  acc_state         acc_city
0        WI        Green Bay
1        WI          Madison
2        WI  Wisconsin Dells
3        WA         Puyallup
4        CA          Anaheim

In [87]:
city_state_df.loc[city_state_df["acc_city"]=="Fairfield"]

    acc_state   acc_city
238        IL  Fairfield
356        NJ  Fairfield

In [13]:

city_lat = []
city_lng = []
for i in range(len(city_state_df)):
    params = {
        "address": f'{city_state_df.loc[i,"acc_city"]}, {city_state_df.loc[i,"acc_state"]}',
        "key": gkey
    }
    geo_data = requests.get(geocode_json_base, params).json()
    try:
        city_lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        city_lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
        
        print(f'{params["address"]} : {i}')
    except:
        print(f'Address: {params["address"]} not found : {i}')
        city_lat.append("null")
        city_lng.append("null")

Green Bay, WI : 0
Madison, WI : 1
Wisconsin Dells, WI : 2
Puyallup, WA : 3
Anaheim, CA : 4
Naples, FL : 5
Buena Park, CA : 6
Los Angeles, CA : 7
Riverside, CA : 8
Upland, CA : 9
San Dimas, CA : 10
San Diego, CA : 11
Irvine, CA : 12
Palm Springs, CA : 13
Phillips, WI : 14
West Allis, WI : 15
Lake Gregory, CA : 16
Escondido, CA : 17
San Jose, CA : 18
Carlsbad, CA : 19
Milwaukee, WI : 20
Vista, CA : 21
Santa Barbara, CA : 22
Angels Camp, CA : 23
Universal City, CA : 24
Aurora, CO : 25
Santa Monica, CA : 26
nan, FL : 27
Egg Harbor Twp., NJ : 28
Orlando, FL : 29
Dania Beach, FL : 30
Stuttgart, AR : 31
Cherry Hill, NJ : 32
nan, IL : 33
Jacksonville, FL : 34
Santa Clara, CA : 35
nan, KY : 36
nan, OK : 37
Jackson, NJ : 38
Marlton, NJ : 39
Bayonne, NJ : 40
Vallejo, CA : 41
Tulsa, OK : 42
nan, TX : 43
nan, OH : 44
Sewell, NJ : 45
Gilroy, CA : 46
nan, PA : 47
Pleasanton, CA : 48
Sacramento, CA : 49
Seaside Heights, NJ : 50
Silver Springs, FL : 51
Garfield, NJ : 52
Roseville, CA : 53
Toms River, NJ : 54
Twin Lakes, WI : 55
Vernon, NJ : 56
Clementon, NJ : 57
Egg Harbor Township, NJ : 58
Piscataway, NJ : 59
Pt. Pleasant Beach, NJ : 60
nan, NY : 61
South Toms River, NJ : 62
Pomona, NJ : 63
Clovis, CA : 64
Arlington, TX : 65
Ocean, NJ : 66
York, NJ : 67
Concord, CA : 68
Ocean City, NJ : 69
Amarillo, TX : 70
Oklahoma City, OK : 71
Santa Cruz, CA : 72
Ligonier, PA : 73
Fairfield, NJ : 74
Thorofare, NJ : 75
Farmingdale, NY : 76
Bayville, NJ : 77
Williamstown, NJ : 78
Mason, OH : 79
Union City, OH : 80
Arroyo Grande, CA : 81
nan, WI : 82
Jefferson City, MO : 83
Redding, CA : 84
Ringwood, NJ : 85
Wildwood, NJ : 86
Kansas City, MO : 87
Montgomery, MO : 88
Mt. Laurel, NJ : 89
Oshkosh, WI : 90
Tahlequah, OK : 91
nan, NJ : 92
Fresno, CA : 93
Atlantic City, NJ : 94
Scotch Plains, NJ : 95
Rye, NY : 96
Hope, NJ : 97
Lyndhurst, NJ : 98
Louisville, KY : 99
Wayne, NJ : 100
Little Rock, AR : 101
Oakland, CA : 102
Staffordville, NJ : 103
Oak Ridge, NJ : 104
Hasbrouck Heights, NJ : 105
Gibsonton, NJ : 106
nan, CA : 107
Greenfield, MO : 108
Pensacola, FL : 109
Branson, MO : 110
Livermore, CA : 111
Stilwell, OK : 112
Barstow, CA : 113
Hope, AR : 114
San Francisco, CA : 115
El Monte, CA : 116
West Orange, NJ : 117
nan, NV : 118
Indio, CA : 119
Vineland, NJ : 120
North Wildwood, NJ : 121
Perris, CA : 122
South Orange, NJ : 123
San Bernadino, CA : 124
nan, CO : 125
Glen Mills, NJ : 126
El Cajon, CA : 127
nan, MA : 128
Union City, GA : 129
Wantage, NJ : 130
nan, MO : 131
Mesquite, TX : 132
Chula Vista, CA : 133
Ventura, CA : 134
Syracruse, NY : 135
Donegal, PA : 136
Tannersville, PA : 137
Redlands, CA : 138
Des Moines, IA : 139
Wewoka, OK : 140
Fountain Valley, CA : 141
Gurnee, IL : 142
Black River Falls, WI : 143
Mason City, IA : 144
Denver, CO : 145
Hot Springs, AR : 146
Wisconsin Dells, OH : 147
Jensen Beach, NJ : 148
Jacksonville Beach, FL : 149
Arcadia, CA : 150
South Amboy, NJ : 151
Lebanon, NJ : 152
Hershey, PA : 153
Monroe Twp., NJ : 154
Carson, CA : 155
Cape May, NJ : 156
Doswell, VA : 157
Stockton, CA : 158
Hacienda Heights, CA : 159
Palmdale, CA : 160
Winter Haven, FL : 161
Pasadena, CA : 162
Wenatchee, WA : 163
Ocala, FL : 164
Clearwater, FL : 165
Tampa, FL : 166
St. Augustine, FL : 167
Daytona Beach, FL : 168
Hackensack, NJ : 169
Kissimmee, FL : 170
nan, MD : 171
Springhill, FL : 172
Miami, FL : 173
Hollywood, FL : 174
Ontario, CA : 175
Alhambra, CA : 176
West Palm Beach, FL : 177
Carver, MA : 178
Hopkinsville, KY : 179
Bradenton, FL : 180
Austin, TX : 181
St. Agustine, FL : 182
Florida City, FL : 183
Lake Worth, FL : 184
Seattle, WA : 185
Panama City, FL : 186
Mechanicsburg, PA : 187
Pennsauken, NJ : 188
Canton, MI : 189
Lake City, FL : 190
Cudahy, CA : 191
Tallahassee, FL : 192
Upper Saddle River, NJ : 193
Frankenmuth, MI : 194
Elkins, WV : 195
Redmond, WA : 196
Fenton, MI : 197
Paramus, NJ : 198
Lakewood, CA : 199
Hackettstown, NJ : 200
N. Wildwood, NJ : 201
Freehold, NJ : 202
nan, MI : 203
Spokane, WA : 204
Ironwood, MI : 205
San Mateo, CA : 206
Destin, FL : 207
Morgan Hill, CA : 208
Traverse City, MI : 209
Cheboygan, MI : 210
Wyoming, MI : 211
Coloma, MI : 212
Caledonia, NY : 213
San Luis Obispo, CA : 214
Lapeer, MI : 215
Shelby Township, MI : 216
Evansdale, IA : 217
El Paso, TX : 218
Fernandina Beach, FL : 219
Davenport, IA : 220
Hillsdale, MI : 221
Keansburg, NJ : 222
Portage, WI : 223
Royal Oaks, MI : 224
Caro, MI : 225
Pleasant Beach, NJ : 226
Saginaw, MI : 227
Ft. Lauderdale, FL : 228
Hastings, MI : 229
Washington, IA : 230
Hancock, MA : 231
Clio, MI : 232
Muskegon, MI : 233
Greenville, MI : 234
Clearlake, CA : 235
Pontiac, MI : 236
Battle Creek, MI : 237
Detroit, MI : 238
Lake View Terrace, CA : 239
Baraboo, WI : 240
Houghton Lake, MI : 241
Durango, CO : 242
Belleville, NJ : 243
Mansfield, MA : 244
Altoona, IA : 245
Houston, TX : 246
Charlotte, NC : 247
Plantation, NJ : 248
City of Industry, CA : 249
Tukwila, WA : 250
Middle Island, NY : 251
Alma, MI : 252
Cliffwood, NJ : 253
Sanford, FL : 254
Cape Canaveral, FL : 255
Waterford, MI : 256
East Hanover, NJ : 257
Newport Beach, CA : 258
Shrewsbury, MA : 259
Cape May Court House, NJ : 260
Rochester, NY : 261
Salem, NC : 262
White Lake, MI : 263
Manteca, CA : 264
Rutherford, NJ : 265
Newaygo, MI : 266
Lake Delton, WI : 267
Long Beach, CA : 268
Royal Oak, MI : 269
Portage, MI : 270
Marshall, WI : 271
Hialeah, FL : 272
West Hazleton, NJ : 273
San Joaquin, CA : 274
nan, WA : 275
Grand Island, NY : 276
Hale, MI : 277
Dryden, MI : 278
Tonawanda, NY : 279
Murreta, CA : 280
Ames, IA : 281
Brockton, MA : 282
Daytona, FL : 283
Shullsburg, WI : 284
Lodi, NJ : 285
Lakewood, WI : 286
Paterson, NJ : 287
Del Mar, CA : 288
Hollard, MI : 289
St. Clair, MI : 290
Springville, NY : 291
Mocksville, NC : 292
Cape Coral, FL : 293
New Buffalo, MI : 294
Ionia, MI : 295
Andover, MA : 296
Lansing, MI : 297
River Rouge, MI : 298
Sturgis, MI : 299
Hamilton, NJ : 300
Yonkers, NJ : 301
Agawam, MA : 302
Thousand Oaks, CA : 303
Taylor, MI : 304
Howell, MI : 305
Pigeon Forge, TN : 306
Tracy, CA : 307
Pompano, FL : 308
University Center, MI : 309
Dade City, FL : 310
Sebring, FL : 311
Paintsville, KY : 312
ARLINGTON, TX : 313
Salinas, CA : 314
Kalamazoo, MI : 315
Warren, MI : 316
Lakeland, FL : 317
HOUSTON, TX : 318
Homosassa, FL : 319
LOS ANGELES, CA : 320
Prescott Valley, AZ : 321
Glastonbury, CT : 322
Ocean View, NJ : 323
Rio Vista, CA : 324
Pt. Pleasant, NJ : 325
SAN ANTONIO, TX : 326
NEW BRAUNFELS, TX : 327
Lewiston, NY : 328
Fairmont, WV : 329
Sterling Heights, MI : 330
Newberry, MI : 331
Seaside Park, NJ : 332
Beach Haven, NJ : 333
Woodland, CA : 334
Lewisburg, WV : 335
Sandusky, OH : 336
Midland, MI : 337
Latham, OH : 338
Darien Center, NY : 339
Byram Twp., NJ : 340
Mason, MI : 341
Brooklyn, MI : 342
ANTHONY, TX : 343
MESQUITE, TX : 344
EL PASO, TX : 345
Pitanea, MI : 346
Buffalo, NY : 347
Reedsville, WV : 348
Danville, IN : 349
Wesland, MI : 350
Hopkinton, RI : 351
Middlebury, CT : 352
West Haven, CT : 353
Scottsburg, IN : 354
Costa Mesa, CA : 355
Blissfield, MI : 356
New Orleans, LA : 357
Nanuet, NY : 358
Madison, WV : 359
Ripley, WV : 360
AMARILLO, TX : 361
Aurora, OH : 362
East Rutherford, NJ : 363
CEDAR HILLS, TX : 364
Long Beach Island, NJ : 365
Hollister, CA : 366
Smithville, NJ : 367
West Springfield, MA : 368
Kissammee, FL : 369
Eagle Rock, CA : 370
SPRING, TX : 371
Panama City Beach, FL : 372
Santa Claus, IN : 373
Indianapolis, IN : 374
Greenwood, NY : 375
Mount Clemens, MI : 376
DALLAS, TX : 377
Mangum, OK : 378
Trumbull, CT : 379
Lehigh Acres, FL : 380
MISSION, TX : 381
Plant City, FL : 382
West Nyack, NY : 383
Lake Grove, NY : 384
Melbourne, FL : 385
Royal Palm, FL : 386
Deerfield Beach, FL : 387
Mary Ester, FL : 388
Raleigh, NC : 389
Topsfield, MA : 390
Ottumwa, IA : 391
Red Bluff, CA : 392
LUBBOCK, TX : 393
Bethlehem, CT : 394
nan, NC : 395
Norwalk, CA : 396
Wheatfield, NY : 397
Windsor, CA : 398
Matewan, WV : 399
Hurricane, WV : 400
Turnersville, NJ : 401
Bell, WV : 402
SOUTH PADRE ISLAND, TX : 403
Turlock, CA : 404
Terre Haute, IN : 405
Selden, NY : 406
Rockville, IN : 407
Greensburg, IN : 408
Modesto, CA : 409
Wilmington, MA : 410
Monticello, NY : 411
Worcester, MA : 412
Manorville, NY : 413
La Habra, CA : 414
Primm, NV : 415
CARROLLTON, TX : 416
San Antonio, TX : 417
N Palm Beach, FL : 418
Houston South, TX : 419
N. Houston, TX : 420
Boca Raton, FL : 421
Kings Island, OH : 422
West Palm Bch., FL : 423
Southington, CT : 424
OKC, OK : 425
Baltimore, MD : 426
Dryden, NY : 427
Simi Valley, CA : 428
Hillsboro, OH : 429
Ada, OK : 430
Geddes, NY : 431
EauClaire, WI : 432
Fulton, NY : 433
Ocean City, MD : 434
East Dundee, IL : 435
Point Pleasant Beach, NJ : 436
Stillwater, OK : 437
Raytown, NJ : 438
Warrensburg, NY : 439
Bell Gardens, CA : 440
Antelope Valley, CA : 441
Chicago, IL : 442
Medford, NY : 443
Westhampton, NY : 444
Lubbock, TX : 445
Plattsburgh, NY : 446
Fairfield, IL : 447
Hebron, MD : 448
Prince Frederick, MD : 449
Waterloo, WI : 450
Danbury, CT : 451
Lodi, CA : 452
Lake George, NY : 453
Bristol, CT : 454
Dallas, TX : 455
Columbus, OH : 456
Glen Ellyn, IL : 457
Bethel, CT : 458
Woodland Hills, CA : 459
Hartford, WI : 460
Cherryville, NC : 461
Labelle, FL : 462
Cypress Gardens, FL : 463
WPB, FL : 464
Irondequoit, NY : 465
Pt. Charlotte, FL : 466
Brandon, FL : 467
Oldsmar, FL : 468
Smithfield, RI : 469
Pomona, CA : 470
Laguna Hills, CA : 471
Monterey, CA : 472
Springfield, IL : 473
Fort Meade, MD : 474
Bronx, NJ : 475
Datona Bch., FL : 476
Largo, MD : 477
Address: Orlando, NJ not found : 478
Gantt, NJ : 479
Frederick, MD : 480
Danbury, NJ : 481
Daytona Bch., FL : 482
Palatine, IL : 483
Panama City Bch., FL : 484
Jacksonville, NJ : 485
Silver Spirngs, FL : 486
Englishtown, NJ : 487
Waco, TX : 488
Hermosa Beach, CA : 489
San Gabriel, CA : 490
Hammonton, NJ : 491
KIssimmee, FL : 492
Daytona Bch, FL : 493
Las Vegas, NV : 494
Lake Buena Vista, FL : 495
Dania Bch., FL : 496
Ft. Myers, FL : 497
Auburndale, FL : 498
Fords, NJ : 499
Lincoln, RI : 500
Sea Isle City, NJ : 501
Hamburg, NY : 502
Johnston, RI : 503
Douglassville, NJ : 504
Wallkill, NY : 505
Mahopac, NY : 506
St. Pete, FL : 507
Tiverton, RI : 508
Spencerport, NY : 509
Orangeburg, NY : 510
Middleburg, FL : 511
Freeville, NY : 512
Ft. Walton, FL : 513
Eustis, FL : 514
Broward, FL : 515
Apalachecola, FL : 516
New Port Richey, FL : 517
Mendota, CA : 518
Niagra Falls, NY : 519
Bunnell, FL : 520
Milton, FL : 521
Spring Fling, FL : 522
Wilton Manor, FL : 523
Coral Springs, FL : 524
Albany, NY : 525
Port Richey, FL : 526
W. Senaca, NY : 527
Dania, FL : 528
Roslyn Heights, NY : 529
Unknown, FL : 530
Palm beach, FL : 531
Port St. Lucie, FL : 532
Queensbury, NY : 533
Sunrise, FL : 534
Palatka, FL : 535
Brevard, FL : 536
Tarpon Springs, FL : 537
Pinellas Park, FL : 538
Ft. Walton Bch., FL : 539
Vero Beach, FL : 540
Ft. Pierce, FL : 541
Everglades City, FL : 542
Davie, FL : 543
Weston, FL : 544
Okeechobee, FL : 545
Ft. Laud., FL : 546

In [19]:
city_df = pd.DataFrame({
    "acc_city": city_state_df["acc_city"],
    "acc_state": city_state_df["acc_state"],
    "city_lat": city_lat,
    "city_lng": city_lng
})
city_df = city_df[city_df.acc_city != "null"]
city_df.dropna(inplace=True)
city_df.head()

          acc_city acc_state city_lat city_lng
0        Green Bay        WI  44.5133 -88.0133
1          Madison        WI  43.0731 -89.4012
2  Wisconsin Dells        WI  43.6275  -89.771
3         Puyallup        WA  47.1854 -122.293
4          Anaheim        CA  33.8366 -117.914

In [20]:
city_df.loc[city_df["acc_city"] == "Fairfield"]

      acc_city acc_state city_lat city_lng
74   Fairfield        NJ  40.8837  -74.306
447  Fairfield        IL  38.3789 -88.3598

In [17]:
acc_states = df["acc_state"].unique()
state_lat = []
state_lng = []
for state in acc_states:
    params = {
        "address": state,
        "key": gkey
    }
    geo_data = requests.get(geocode_json_base, params).json()
    try:
        state_lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        state_lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
        print(state)
    except:
        print(f'address: {city} not found')
        state_lat.append("null")
        state_lng.append("null")

WI
WA
CA
FL
CO
NJ
AR
IL
KY
OK
TX
OH
PA
NY
MO
NV
MA
GA
IA
VA
MD
MI
WV
NC
TN
AZ
CT
IN
RI
LA

In [18]:
state_df = pd.DataFrame({
    "acc_state": acc_states,
    "state_lat": state_lat,
    "state_lng": state_lng
})

state_df.head()

  acc_state  state_lat   state_lng
0        WI  43.784440  -88.787868
1        WA  47.751074 -120.740139
2        CA  36.778261 -119.417932
3        FL  27.664827  -81.515754
4        CO  37.062500  -95.677068

In [21]:
df = pd.merge(df, city_df, how="left", on=["acc_city", "acc_state"])
df = pd.merge(df, state_df, how="left", on="acc_state")

In [22]:
df.drop_duplicates(subset="acc_id", inplace=True)
df.head()

,acc_id,acc_date,acc_state,acc_city,fix_port,source,bus_type,industry_sector,device_category,device_type,...,report,category,mechanical,op_error,employee,notes,city_lat,city_lng,state_lat,state_lng
0,1005755,9/12/2009,WI,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,recreation,play equipment,Slide,...,NaN,Impact: hit something in participatory attraction,NaN,NaN,NaN,NaN,44.5133,-88.0133,43.784440,-88.787868
1,1005754,6/28/2009,WI,Madison,P,Media Report,Unknown,amusement ride,spinning,Ferris/gondola wheel,...,NaN,Equipment failure,1.0,1.0,NaN,http://wisinfo.biz/ic/caspio/amusementpark.html,43.0731,-89.4012,43.784440,-88.787868
2,1005753,5/30/2009,WI,Wisconsin Dells,F,Media Report,Amusement park,recreation,go-kart,Go-kart,...,NaN,Collision: patron-controlled vehicles,NaN,NaN,NaN,http://wisinfo.biz/ic/caspio/amusementpark.html,43.6275,-89.771,43.784440,-88.787868
3,1004578,4/17/2009,WA,Puyallup,P,Washington Dept. of Labor and Industries,Carnival or rental,amusement ride,spinning,Swing ride,...,NaN,Equipment failure,1.0,NaN,NaN,http://www.king5.com/article/news/local/amusem...,47.1854,-122.293,47.751074,-120.740139
4,1007272,4/5/2009,CA,Anaheim,F,California Division of Occupational Safety and...,Amusement park,amusement ride,cars & track rides,Track ride,...,NaN,Illness or neurological symptoms,NaN,NaN,NaN,NaN,33.8366,-117.914,36.778261,-119.417932

In [23]:
df.loc[df["acc_city"] == "Fairfield"]

,acc_id,acc_date,acc_state,acc_city,fix_port,source,bus_type,industry_sector,device_category,device_type,...,report,category,mechanical,op_error,employee,notes,city_lat,city_lng,state_lat,state_lng
492,916217,8/12/2007,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable slide,...,NaN,Impact: hit something in participatory attraction,NaN,NaN,NaN,Inadvertent Rider Mishap,40.8837,-74.306,40.058324,-74.405661
1010,916054,5/5/2007,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable game,...,NaN,Fall: in climb or play area,NaN,NaN,NaN,Loss of Control by Rider,40.8837,-74.306,40.058324,-74.405661
1180,914382,12/3/2006,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable slide,...,NaN,Collision: patrons collided (participatory),NaN,NaN,NaN,Rider Hit by Others,40.8837,-74.306,40.058324,-74.405661
1279,914373,9/22/2006,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable obstacle course,...,NaN,Fall: in climb or play area,NaN,NaN,NaN,Inadvertent Rider Mishap,40.8837,-74.306,40.058324,-74.405661
1304,914358,9/9/2006,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable bouncer,...,NaN,Collision: patrons collided (participatory),NaN,NaN,NaN,Rider Hit by Others,40.8837,-74.306,40.058324,-74.405661
1677,914936,7/19/2006,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,challenge activity,Mechanical bull-type,...,NaN,Fall: ejection/fall from ride,NaN,NaN,NaN,Inadvertent Rider Mishap,40.8837,-74.306,40.058324,-74.405661
1910,914933,6/24/2006,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable obstacle course,...,NaN,Fall: in climb or play area,NaN,NaN,NaN,Inadvertent Rider Mishap,40.8837,-74.306,40.058324,-74.405661
2062,914858,6/2/2006,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable slide,...,NaN,Impact: hit something in participatory attraction,1.0,NaN,NaN,Product failure,40.8837,-74.306,40.058324,-74.405661
2248,915815,4/2/2006,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,challenge activity,Climbing wall,...,NaN,Fall: in climb or play area,NaN,1.0,NaN,"Operator error, Loss of Control by Rider",40.8837,-74.306,40.058324,-74.405661
2344,914828,1/22/2006,NJ,Fairfield,F,New Jersey Dept. of Community Affairs,Family entertainment center,recreation,play equipment,Play structure,...,NaN,Impact: hit something in participatory attraction,NaN,NaN,NaN,Inadvertent Rider Mishap,40.8837,-74.306,40.058324,-74.405661
2483,915787,10/1/2005,NJ,Fairfield,F,New Jersey Dept. of Community Affairs,Family entertainment center,recreation,play equipment,Play structure,...,NaN,Collision: patrons collided (participatory),NaN,NaN,NaN,Misbehavior of Rider,40.8837,-74.306,40.058324,-74.405661
3650,914513,4/24/2005,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable game,...,NaN,Hyperextension or dislocation,NaN,NaN,NaN,Inadvertent Rider Mishap,40.8837,-74.306,40.058324,-74.405661
3722,914512,3/19/2005,NJ,Fairfield,P,New Jersey Dept. of Community Affairs,Carnival or rental,recreation,inflatable,Inflatable obstacle course,...,NaN,Impact: hit something in participatory attraction,NaN,NaN,NaN,Inadvertent Rider Mishap,40.8837,-74.306,40.058324,-74.405661
5293,910177,8/21/2003,NJ,Fairfield,F,New Jersey Dept. of Community Affairs,Family entertainment center,recreation,inflatable,Inflatable bouncer,...,NaN,Fall: in climb or play area,NaN,NaN,NaN,NaN,40.8837,-74.306,40.058324,-74.405661
9251,898215,7/20/2001,IL,Fairfield,P,Illinois Department of Labor,Carnival or rental,amusement ride,spinning,Spinning cups/tubs,...,NaN,Impact: hit something within ride vehicle,NaN,NaN,NaN,No investigation conducted.,38.3789,-88.3598,40.633125,-89.398528

In [24]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB
engine = create_engine("sqlite:///../../Resources/park_accidents.sqlite", encoding="ANSI")
conn = engine.connect()

In [25]:
df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.close()