In [1]:
# Dependencies
import requests
import json
import pandas as pd

from sqlalchemy import create_engine
# Google developer API key
from config import gkey

In [2]:
accidents_csv = "../../Resources/raw/Saferparks-dataset-legacy-v2.csv"
table_name = "accident_data"

geocode_json_base = "https://maps.googleapis.com/maps/api/geocode/json?"

In [3]:
df = pd.read_csv(accidents_csv, encoding="ANSI")

In [8]:
acc_cities = df["acc_city"].unique()
city_lat = []
city_lng = []
for city in acc_cities:
    if city == "nan":
        city = 0
    params = {
        "address": city,
        "key": gkey
    }
    geo_data = requests.get(geocode_json_base, params).json()
    try:
        city_lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        city_lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
        print("success")
    except:
        print(f'address: {city} not found')
        city_lat.append("null")
        city_lng.append("null")

success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
address: Pitanea not found
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success

In [9]:
city_df = pd.DataFrame({
    "acc_city": acc_cities,
    "city_lat": city_lat,
    "city_lng": city_lng
})

city_df.head()

          acc_city city_lat city_lng
0        Green Bay  44.5133 -88.0133
1          Madison  43.0731 -89.4012
2  Wisconsin Dells  43.6275  -89.771
3         Puyallup  47.1854 -122.293
4          Anaheim  33.8366 -117.914

In [10]:
acc_states = df["acc_state"].unique()
state_lat = []
state_lng = []
for state in acc_states:
    params = {
        "address": state,
        "key": gkey
    }
    geo_data = requests.get(geocode_json_base, params).json()
    try:
        state_lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        state_lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
        print("success")
    except:
        print(f'address: {city} not found')
        state_lat.append("null")
        state_lng.append("null")

success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success

In [11]:
state_df = pd.DataFrame({
    "acc_state": acc_states,
    "state_lat": state_lat,
    "state_lng": state_lng
})

state_df.head()

  acc_state  state_lat   state_lng
0        WI  43.784440  -88.787868
1        WA  47.751074 -120.740139
2        CA  36.778261 -119.417932
3        FL  27.664827  -81.515754
4        CO  37.062500  -95.677068

In [12]:
df = pd.merge(df, city_df, how="outer", on="acc_city")
df = pd.merge(df, state_df, how="outer", on="acc_state")

In [13]:
df.head()

,acc_id,acc_date,acc_state,acc_city,fix_port,source,bus_type,industry_sector,device_category,device_type,...,report,category,mechanical,op_error,employee,notes,city_lat,city_lng,state_lat,state_lng
0,1005755,9/12/2009,WI,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,recreation,play equipment,Slide,...,NaN,Impact: hit something in participatory attraction,NaN,NaN,NaN,NaN,44.5133,-88.0133,43.78444,-88.787868
1,1005750,7/11/2008,WI,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,amusement ride,spinning,Roundabout,...,NaN,Entrapment or pinch-point,NaN,NaN,NaN,NaN,44.5133,-88.0133,43.78444,-88.787868
2,916745,9/2/2006,WI,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,amusement ride,spinning,Rotor/gravitron,...,NaN,Load/Unload: scrape or stumble,NaN,NaN,NaN,NaN,44.5133,-88.0133,43.78444,-88.787868
3,916746,8/29/2006,WI,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,recreation,play equipment,Slide,...,NaN,Burn (includes friction burn),NaN,NaN,NaN,NaN,44.5133,-88.0133,43.78444,-88.787868
4,916747,8/23/2006,WI,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,amusement ride,spinning,Rotor/gravitron,...,NaN,Load/Unload: scrape or stumble,NaN,NaN,NaN,NaN,44.5133,-88.0133,43.78444,-88.787868

In [14]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB
engine = create_engine("sqlite:///../../Resources/park_accidents.sqlite", encoding="ANSI")
conn = engine.connect()

In [15]:
df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.close()

In [32]:
    params = {
        "address": "nan",
        "key": gkey
    }
geo_data = requests.get(geocode_json_base, params).json()

In [33]:
print(json.dumps(geo_data, indent=2, sort_keys=True))

{
  "results": [
    {
      "address_components": [
        {
          "long_name": "#2555",
          "short_name": "#2555",
          "types": [
            "subpremise"
          ]
        },
        {
          "long_name": "1941",
          "short_name": "1941",
          "types": [
            "street_number"
          ]
        },
        {
          "long_name": "New Garden Road",
          "short_name": "New Garden Rd",
          "types": [
            "route"
          ]
        },
        {
          "long_name": "Greensboro",
          "short_name": "Greensboro",
          "types": [
            "locality",
            "political"
          ]
        },
        {
          "long_name": "Guilford County",
          "short_name": "Guilford County",
          "types": [
            "administrative_area_level_2",
            "political"
          ]
        },
        {
          "long_name": "North Carolina",
          "short_name": "NC",
          "types": [
            "administrative_area_level_1",
            "political"
          ]
        },
        {
          "long_name": "United States",
          "short_name": "US",
          "types": [
            "country",
            "political"
          ]
        },
        {
          "long_name": "27410",
          "short_name": "27410",
          "types": [
            "postal_code"
          ]
        }
      ],
      "formatted_address": "1941 New Garden Rd #2555, Greensboro, NC 27410, USA",
      "geometry": {
        "location": {
          "lat": 36.12707109999999,
          "lng": -79.86071799999999
        },
        "location_type": "ROOFTOP",
        "viewport": {
          "northeast": {
            "lat": 36.1284200802915,
            "lng": -79.8593690197085
          },
          "southwest": {
            "lat": 36.1257221197085,
            "lng": -79.8620669802915
          }
        }
      },
      "place_id": "ChIJAQ69Bk8cU4gRsAgg_0Mv7T8",
      "types": [
        "establishment",
        "point_of_interest"
      ]
    }
  ],
  "status": "OK"
}