In [68]:
# Dependencies
import requests
import json
import pandas as pd

from sqlalchemy import create_engine
# Google developer API key
from config import gkey

In [69]:
accidents_csv = "../../Resources/raw/Saferparks-dataset-legacy-v2.csv"
table_name = "accident_data"

geocode_json_base = "https://maps.googleapis.com/maps/api/geocode/json?"

In [70]:
us_state_abbrev = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [71]:
df = pd.read_csv(accidents_csv, encoding="ANSI")

In [72]:
df["acc_state"].replace(us_state_abbrev, inplace=True)
df.head()

,acc_id,acc_date,acc_state,acc_city,fix_port,source,bus_type,industry_sector,device_category,device_type,...,age_youngest,gender,acc_desc,injury_desc,report,category,mechanical,op_error,employee,notes
0,1005755,9/12/2009,Wisconsin,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,recreation,play equipment,Slide,...,NaN,NaN,"Rider was riding down slide, stopped, stood up...","chin, ribs",NaN,Impact: hit something in participatory attraction,NaN,NaN,NaN,NaN
1,1005754,6/28/2009,Wisconsin,Madison,P,Media Report,Unknown,amusement ride,spinning,Ferris/gondola wheel,...,NaN,NaN,The drive cable of the Ferris wheel came off i...,Minor injuries,NaN,Equipment failure,1.0,1.0,NaN,http://wisinfo.biz/ic/caspio/amusementpark.html
2,1005753,5/30/2009,Wisconsin,Wisconsin Dells,F,Media Report,Amusement park,recreation,go-kart,Go-kart,...,8.0,NaN,Parent reports her son's kart was repeatedly h...,"Fracture, bruising, lacerations",NaN,Collision: patron-controlled vehicles,NaN,NaN,NaN,http://wisinfo.biz/ic/caspio/amusementpark.html
3,1004578,4/17/2009,Washington,Puyallup,P,Washington Dept. of Labor and Industries,Carnival or rental,amusement ride,spinning,Swing ride,...,NaN,NaN,Swing tipped over on its side during operation...,"6 children were transported to the hospital, t...",NaN,Equipment failure,1.0,NaN,NaN,http://www.king5.com/article/news/local/amusem...
4,1007272,4/5/2009,California,Anaheim,F,California Division of Occupational Safety and...,Amusement park,amusement ride,cars & track rides,Track ride,...,44.0,F,Patron's attorney stated that she had a right ...,Right vertegral artery tear,NaN,Illness or neurological symptoms,NaN,NaN,NaN,NaN

In [76]:
df["acc_date"] = pd.to_datetime(df["acc_date"], format='%m/%d/%Y')

In [77]:
df.head()

,acc_id,acc_date,acc_state,acc_city,fix_port,source,bus_type,industry_sector,device_category,device_type,...,age_youngest,gender,acc_desc,injury_desc,report,category,mechanical,op_error,employee,notes
0,1005755,2009-09-12,Wisconsin,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,recreation,play equipment,Slide,...,NaN,NaN,"Rider was riding down slide, stopped, stood up...","chin, ribs",NaN,Impact: hit something in participatory attraction,NaN,NaN,NaN,NaN
1,1005754,2009-06-28,Wisconsin,Madison,P,Media Report,Unknown,amusement ride,spinning,Ferris/gondola wheel,...,NaN,NaN,The drive cable of the Ferris wheel came off i...,Minor injuries,NaN,Equipment failure,1.0,1.0,NaN,http://wisinfo.biz/ic/caspio/amusementpark.html
2,1005753,2009-05-30,Wisconsin,Wisconsin Dells,F,Media Report,Amusement park,recreation,go-kart,Go-kart,...,8.0,NaN,Parent reports her son's kart was repeatedly h...,"Fracture, bruising, lacerations",NaN,Collision: patron-controlled vehicles,NaN,NaN,NaN,http://wisinfo.biz/ic/caspio/amusementpark.html
3,1004578,2009-04-17,Washington,Puyallup,P,Washington Dept. of Labor and Industries,Carnival or rental,amusement ride,spinning,Swing ride,...,NaN,NaN,Swing tipped over on its side during operation...,"6 children were transported to the hospital, t...",NaN,Equipment failure,1.0,NaN,NaN,http://www.king5.com/article/news/local/amusem...
4,1007272,2009-04-05,California,Anaheim,F,California Division of Occupational Safety and...,Amusement park,amusement ride,cars & track rides,Track ride,...,44.0,F,Patron's attorney stated that she had a right ...,Right vertegral artery tear,NaN,Illness or neurological symptoms,NaN,NaN,NaN,NaN

In [78]:
unique_cities = df["acc_city"].unique()

city_state_df = df[["acc_state", "acc_city"]].loc[df["acc_city"].isin(unique_cities)]
city_state_df.drop_duplicates(inplace=True)
city_state_df.reset_index(inplace=True, drop=True)
city_state_df.head()

    acc_state         acc_city
0   Wisconsin        Green Bay
1   Wisconsin          Madison
2   Wisconsin  Wisconsin Dells
3  Washington         Puyallup
4  California          Anaheim

In [79]:

city_lat = []
city_lng = []
for i in range(len(city_state_df)):
    params = {
        "address": f'{city_state_df.loc[i,"acc_city"]}, {city_state_df.loc[i,"acc_state"]}',
        "key": gkey
    }
    geo_data = requests.get(geocode_json_base, params).json()
    try:
        city_lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        city_lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
        
        print(f'{params["address"]} : {i}')
    except:
        print(f'Address: {params["address"]} not found : {i}')
        city_lat.append("null")
        city_lng.append("null")

Green Bay, Wisconsin : 0
Madison, Wisconsin : 1
Wisconsin Dells, Wisconsin : 2
Puyallup, Washington : 3
Anaheim, California : 4
Naples, Florida : 5
Buena Park, California : 6
Los Angeles, California : 7
Riverside, California : 8
Upland, California : 9
San Dimas, California : 10
San Diego, California : 11
Irvine, California : 12
Palm Springs, California : 13
Phillips, Wisconsin : 14
West Allis, Wisconsin : 15
Lake Gregory, California : 16
Escondido, California : 17
San Jose, California : 18
Carlsbad, California : 19
Milwaukee, Wisconsin : 20
Vista, California : 21
Santa Barbara, California : 22
Angels Camp, California : 23
Universal City, California : 24
Aurora, Colorado : 25
Santa Monica, California : 26
nan, Florida : 27
Egg Harbor Twp., New Jersey : 28
Orlando, Florida : 29
Dania Beach, Florida : 30
Stuttgart, Arkansas : 31
Cherry Hill, New Jersey : 32
nan, Illinois : 33
Jacksonville, Florida : 34
Santa Clara, California : 35
nan, Kentucky : 36
nan, Oklahoma : 37
Jackson, New Jersey : 38
Marlton, New Jersey : 39
Bayonne, New Jersey : 40
Vallejo, California : 41
Tulsa, Oklahoma : 42
nan, Texas : 43
nan, Ohio : 44
Sewell, New Jersey : 45
Gilroy, California : 46
nan, Pennsylvania : 47
Pleasanton, California : 48
Sacramento, California : 49
Seaside Heights, New Jersey : 50
Silver Springs, Florida : 51
Garfield, New Jersey : 52
Roseville, California : 53
Toms River, New Jersey : 54
Twin Lakes, Wisconsin : 55
Vernon, New Jersey : 56
Clementon, New Jersey : 57
Egg Harbor Township, New Jersey : 58
Piscataway, New Jersey : 59
Pt. Pleasant Beach, New Jersey : 60
nan, New York : 61
South Toms River, New Jersey : 62
Pomona, New Jersey : 63
Clovis, California : 64
Arlington, Texas : 65
Ocean, New Jersey : 66
York, New Jersey : 67
Concord, California : 68
Ocean City, New Jersey : 69
Amarillo, Texas : 70
Oklahoma City, Oklahoma : 71
Santa Cruz, California : 72
Ligonier, Pennsylvania : 73
Fairfield, New Jersey : 74
Thorofare, New Jersey : 75
Farmingdale, New York : 76
Bayville, New Jersey : 77
Williamstown, New Jersey : 78
Mason, Ohio : 79
Union City, Ohio : 80
Arroyo Grande, California : 81
nan, Wisconsin : 82
Jefferson City, Missouri : 83
Redding, California : 84
Ringwood, New Jersey : 85
Wildwood, New Jersey : 86
Kansas City, Missouri : 87
Montgomery, Missouri : 88
Mt. Laurel, New Jersey : 89
Oshkosh, Wisconsin : 90
Tahlequah, Oklahoma : 91
nan, New Jersey : 92
Fresno, California : 93
Atlantic City, New Jersey : 94
Scotch Plains, New Jersey : 95
Rye, New York : 96
Hope, New Jersey : 97
Lyndhurst, New Jersey : 98
Louisville, Kentucky : 99
Wayne, New Jersey : 100
Little Rock, Arkansas : 101
Oakland, California : 102
Staffordville, New Jersey : 103
Oak Ridge, New Jersey : 104
Hasbrouck Heights, New Jersey : 105
Gibsonton, New Jersey : 106
nan, California : 107
Greenfield, Missouri : 108
Pensacola, Florida : 109
Branson, Missouri : 110
Livermore, California : 111
Stilwell, Oklahoma : 112
Barstow, California : 113
Hope, Arkansas : 114
San Francisco, California : 115
El Monte, California : 116
West Orange, New Jersey : 117
nan, Nevada : 118
Indio, California : 119
Vineland, New Jersey : 120
North Wildwood, New Jersey : 121
Perris, California : 122
South Orange, New Jersey : 123
San Bernadino, California : 124
nan, Colorado : 125
Glen Mills, New Jersey : 126
El Cajon, California : 127
nan, Massachusetts : 128
Union City, Georgia : 129
Wantage, New Jersey : 130
nan, Missouri : 131
Mesquite, Texas : 132
Chula Vista, California : 133
Ventura, California : 134
Syracruse, New York : 135
Donegal, Pennsylvania : 136
Tannersville, Pennsylvania : 137
Redlands, California : 138
Des Moines, Iowa : 139
Wewoka, Oklahoma : 140
Fountain Valley, California : 141
Gurnee, Illinois : 142
Black River Falls, Wisconsin : 143
Mason City, Iowa : 144
Denver, Colorado : 145
Hot Springs, Arkansas : 146
Wisconsin Dells, Ohio : 147
Jensen Beach, New Jersey : 148
Jacksonville Beach, Florida : 149
Arcadia, California : 150
South Amboy, New Jersey : 151
Lebanon, New Jersey : 152
Hershey, Pennsylvania : 153
Monroe Twp., New Jersey : 154
Carson, California : 155
Cape May, New Jersey : 156
Doswell, Virginia : 157
Stockton, California : 158
Hacienda Heights, California : 159
Palmdale, California : 160
Winter Haven, Florida : 161
Pasadena, California : 162
Wenatchee, Washington : 163
Ocala, Florida : 164
Clearwater, Florida : 165
Tampa, Florida : 166
St. Augustine, Florida : 167
Daytona Beach, Florida : 168
Hackensack, New Jersey : 169
Kissimmee, Florida : 170
nan, Maryland : 171
Springhill, Florida : 172
Miami, Florida : 173
Hollywood, Florida : 174
Ontario, California : 175
Alhambra, California : 176
West Palm Beach, Florida : 177
Carver, Massachusetts : 178
Hopkinsville, Kentucky : 179
Bradenton, Florida : 180
Austin, Texas : 181
St. Agustine, Florida : 182
Florida City, Florida : 183
Lake Worth, Florida : 184
Seattle, Washington : 185
Panama City, Florida : 186
Mechanicsburg, Pennsylvania : 187
Pennsauken, New Jersey : 188
Canton, Michigan : 189
Lake City, Florida : 190
Cudahy, California : 191
Tallahassee, Florida : 192
Upper Saddle River, New Jersey : 193
Frankenmuth, Michigan : 194
Elkins, West Virginia : 195
Redmond, Washington : 196
Fenton, Michigan : 197
Paramus, New Jersey : 198
Lakewood, California : 199
Hackettstown, New Jersey : 200
N. Wildwood, New Jersey : 201
Freehold, New Jersey : 202
nan, Michigan : 203
Spokane, Washington : 204
Ironwood, Michigan : 205
San Mateo, California : 206
Destin, Florida : 207
Morgan Hill, California : 208
Traverse City, Michigan : 209
Cheboygan, Michigan : 210
Wyoming, Michigan : 211
Coloma, Michigan : 212
Caledonia, New York : 213
San Luis Obispo, California : 214
Lapeer, Michigan : 215
Shelby Township, Michigan : 216
Evansdale, Iowa : 217
El Paso, Texas : 218
Fernandina Beach, Florida : 219
Davenport, Iowa : 220
Hillsdale, Michigan : 221
Keansburg, New Jersey : 222
Portage, Wisconsin : 223
Royal Oaks, Michigan : 224
Caro, Michigan : 225
Pleasant Beach, New Jersey : 226
Saginaw, Michigan : 227
Ft. Lauderdale, Florida : 228
Hastings, Michigan : 229
Washington, Iowa : 230
Hancock, Massachusetts : 231
Clio, Michigan : 232
Muskegon, Michigan : 233
Greenville, Michigan : 234
Clearlake, California : 235
Pontiac, Michigan : 236
Battle Creek, Michigan : 237
Detroit, Michigan : 238
Lake View Terrace, California : 239
Baraboo, Wisconsin : 240
Houghton Lake, Michigan : 241
Durango, Colorado : 242
Belleville, New Jersey : 243
Mansfield, Massachusetts : 244
Altoona, Iowa : 245
Houston, Texas : 246
Charlotte, North Carolina : 247
Plantation, New Jersey : 248
City of Industry, California : 249
Tukwila, Washington : 250
Middle Island, New York : 251
Alma, Michigan : 252
Cliffwood, New Jersey : 253
Sanford, Florida : 254
Cape Canaveral, Florida : 255
Waterford, Michigan : 256
East Hanover, New Jersey : 257
Newport Beach, California : 258
Shrewsbury, Massachusetts : 259
Cape May Court House, New Jersey : 260
Rochester, New York : 261
Salem, North Carolina : 262
White Lake, Michigan : 263
Manteca, California : 264
Rutherford, New Jersey : 265
Newaygo, Michigan : 266
Lake Delton, Wisconsin : 267
Long Beach, California : 268
Royal Oak, Michigan : 269
Portage, Michigan : 270
Marshall, Wisconsin : 271
Hialeah, Florida : 272
West Hazleton, New Jersey : 273
San Joaquin, California : 274
nan, Washington : 275
Grand Island, New York : 276
Hale, Michigan : 277
Dryden, Michigan : 278
Tonawanda, New York : 279
Murreta, California : 280
Ames, Iowa : 281
Brockton, Massachusetts : 282
Daytona, Florida : 283
Shullsburg, Wisconsin : 284
Lodi, New Jersey : 285
Lakewood, Wisconsin : 286
Paterson, New Jersey : 287
Del Mar, California : 288
Hollard, Michigan : 289
St. Clair, Michigan : 290
Springville, New York : 291
Mocksville, North Carolina : 292
Cape Coral, Florida : 293
New Buffalo, Michigan : 294
Ionia, Michigan : 295
Andover, Massachusetts : 296
Lansing, Michigan : 297
River Rouge, Michigan : 298
Sturgis, Michigan : 299
Hamilton, New Jersey : 300
Yonkers, New Jersey : 301
Agawam, Massachusetts : 302
Thousand Oaks, California : 303
Taylor, Michigan : 304
Howell, Michigan : 305
Pigeon Forge, Tennessee : 306
Tracy, California : 307
Pompano, Florida : 308
University Center, Michigan : 309
Dade City, Florida : 310
Sebring, Florida : 311
Paintsville, Kentucky : 312
ARLINGTON, Texas : 313
Salinas, California : 314
Kalamazoo, Michigan : 315
Warren, Michigan : 316
Lakeland, Florida : 317
HOUSTON, Texas : 318
Homosassa, Florida : 319
LOS ANGELES, California : 320
Prescott Valley, Arizona : 321
Glastonbury, Connecticut : 322
Ocean View, New Jersey : 323
Rio Vista, California : 324
Pt. Pleasant, New Jersey : 325
SAN ANTONIO, Texas : 326
NEW BRAUNFELS, Texas : 327
Lewiston, New York : 328
Fairmont, West Virginia : 329
Sterling Heights, Michigan : 330
Newberry, Michigan : 331
Seaside Park, New Jersey : 332
Beach Haven, New Jersey : 333
Woodland, California : 334
Lewisburg, West Virginia : 335
Sandusky, Ohio : 336
Midland, Michigan : 337
Latham, Ohio : 338
Darien Center, New York : 339
Byram Twp., New Jersey : 340
Mason, Michigan : 341
Brooklyn, Michigan : 342
ANTHONY, Texas : 343
MESQUITE, Texas : 344
EL PASO, Texas : 345
Pitanea, Michigan : 346
Buffalo, New York : 347
Reedsville, West Virginia : 348
Danville, Indiana : 349
Wesland, Michigan : 350
Hopkinton, Rhode Island : 351
Middlebury, Connecticut : 352
West Haven, Connecticut : 353
Scottsburg, Indiana : 354
Costa Mesa, California : 355
Blissfield, Michigan : 356
New Orleans, Louisiana : 357
Nanuet, New York : 358
Madison, West Virginia : 359
Ripley, West Virginia : 360
AMARILLO, Texas : 361
Aurora, Ohio : 362
East Rutherford, New Jersey : 363
CEDAR HILLS, Texas : 364
Long Beach Island, New Jersey : 365
Hollister, California : 366
Smithville, New Jersey : 367
West Springfield, Massachusetts : 368
Kissammee, Florida : 369
Eagle Rock, California : 370
SPRING, Texas : 371
Panama City Beach, Florida : 372
Santa Claus, Indiana : 373
Indianapolis, Indiana : 374
Greenwood, New York : 375
Mount Clemens, Michigan : 376
DALLAS, Texas : 377
Mangum, Oklahoma : 378
Trumbull, Connecticut : 379
Lehigh Acres, Florida : 380
MISSION, Texas : 381
Plant City, Florida : 382
West Nyack, New York : 383
Lake Grove, New York : 384
Melbourne, Florida : 385
Royal Palm, Florida : 386
Deerfield Beach, Florida : 387
Mary Ester, Florida : 388
Raleigh, North Carolina : 389
Topsfield, Massachusetts : 390
Ottumwa, Iowa : 391
Red Bluff, California : 392
LUBBOCK, Texas : 393
Bethlehem, Connecticut : 394
nan, North Carolina : 395
Norwalk, California : 396
Wheatfield, New York : 397
Windsor, California : 398
Matewan, West Virginia : 399
Hurricane, West Virginia : 400
Turnersville, New Jersey : 401
Bell, West Virginia : 402
SOUTH PADRE ISLAND, Texas : 403
Turlock, California : 404
Terre Haute, Indiana : 405
Selden, New York : 406
Rockville, Indiana : 407
Greensburg, Indiana : 408
Modesto, California : 409
Wilmington, Massachusetts : 410
Monticello, New York : 411
Worcester, Massachusetts : 412
Manorville, New York : 413
La Habra, California : 414
Primm, Nevada : 415
CARROLLTON, Texas : 416
San Antonio, Texas : 417
N Palm Beach, Florida : 418
Houston South, Texas : 419
N. Houston, Texas : 420
Boca Raton, Florida : 421
Kings Island, Ohio : 422
West Palm Bch., Florida : 423
Southington, Connecticut : 424
OKC, Oklahoma : 425
Baltimore, Maryland : 426
Dryden, New York : 427
Simi Valley, California : 428
Hillsboro, Ohio : 429
Ada, Oklahoma : 430
Geddes, New York : 431
EauClaire, Wisconsin : 432
Fulton, New York : 433
Ocean City, Maryland : 434
East Dundee, Illinois : 435
Point Pleasant Beach, New Jersey : 436
Stillwater, Oklahoma : 437
Raytown, New Jersey : 438
Warrensburg, New York : 439
Bell Gardens, California : 440
Antelope Valley, California : 441
Chicago, Illinois : 442
Medford, New York : 443
Westhampton, New York : 444
Lubbock, Texas : 445
Plattsburgh, New York : 446
Fairfield, Illinois : 447
Hebron, Maryland : 448
Prince Frederick, Maryland : 449
Waterloo, Wisconsin : 450
Danbury, Connecticut : 451
Lodi, California : 452
Lake George, New York : 453
Bristol, Connecticut : 454
Dallas, Texas : 455
Columbus, Ohio : 456
Glen Ellyn, Illinois : 457
Bethel, Connecticut : 458
Woodland Hills, California : 459
Hartford, Wisconsin : 460
Cherryville, North Carolina : 461
Labelle, Florida : 462
Cypress Gardens, Florida : 463
WPB, Florida : 464
Irondequoit, New York : 465
Pt. Charlotte, Florida : 466
Brandon, Florida : 467
Oldsmar, Florida : 468
Smithfield, Rhode Island : 469
Pomona, California : 470
Laguna Hills, California : 471
Monterey, California : 472
Springfield, Illinois : 473
Fort Meade, Maryland : 474
Bronx, New Jersey : 475
Datona Bch., Florida : 476
Largo, Maryland : 477
Orlando, New Jersey : 478
Gantt, New Jersey : 479
Frederick, Maryland : 480
Danbury, New Jersey : 481
Daytona Bch., Florida : 482
Palatine, Illinois : 483
Panama City Bch., Florida : 484
Jacksonville, New Jersey : 485
Silver Spirngs, Florida : 486
Englishtown, New Jersey : 487
Waco, Texas : 488
Hermosa Beach, California : 489
San Gabriel, California : 490
Hammonton, New Jersey : 491
KIssimmee, Florida : 492
Daytona Bch, Florida : 493
Las Vegas, Nevada : 494
Lake Buena Vista, Florida : 495
Dania Bch., Florida : 496
Ft. Myers, Florida : 497
Auburndale, Florida : 498
Fords, New Jersey : 499
Lincoln, Rhode Island : 500
Sea Isle City, New Jersey : 501
Hamburg, New York : 502
Johnston, Rhode Island : 503
Douglassville, New Jersey : 504
Wallkill, New York : 505
Mahopac, New York : 506
St. Pete, Florida : 507
Tiverton, Rhode Island : 508
Spencerport, New York : 509
Orangeburg, New York : 510
Middleburg, Florida : 511
Freeville, New York : 512
Ft. Walton, Florida : 513
Eustis, Florida : 514
Broward, Florida : 515
Apalachecola, Florida : 516
New Port Richey, Florida : 517
Mendota, California : 518
Niagra Falls, New York : 519
Bunnell, Florida : 520
Milton, Florida : 521
Spring Fling, Florida : 522
Wilton Manor, Florida : 523
Coral Springs, Florida : 524
Albany, New York : 525
Port Richey, Florida : 526
W. Senaca, New York : 527
Dania, Florida : 528
Roslyn Heights, New York : 529
Unknown, Florida : 530
Palm beach, Florida : 531
Port St. Lucie, Florida : 532
Queensbury, New York : 533
Sunrise, Florida : 534
Palatka, Florida : 535
Brevard, Florida : 536
Tarpon Springs, Florida : 537
Pinellas Park, Florida : 538
Ft. Walton Bch., Florida : 539
Vero Beach, Florida : 540
Ft. Pierce, Florida : 541
Everglades City, Florida : 542
Davie, Florida : 543
Weston, Florida : 544
Okeechobee, Florida : 545
Ft. Laud., Florida : 546

In [80]:
city_df = pd.DataFrame({
    "acc_city": city_state_df["acc_city"],
    "acc_state": city_state_df["acc_state"],
    "city_lat": city_lat,
    "city_lng": city_lng
})
city_df = city_df[city_df.acc_city != "null"]
city_df.dropna(inplace=True)
city_df.head()

          acc_city   acc_state   city_lat    city_lng
0        Green Bay   Wisconsin  44.513319  -88.013296
1          Madison   Wisconsin  43.073052  -89.401230
2  Wisconsin Dells   Wisconsin  43.627479  -89.770958
3         Puyallup  Washington  47.185378 -122.292897
4          Anaheim  California  33.836593 -117.914301

In [81]:
acc_states = df["acc_state"].unique()
state_lat = []
state_lng = []
for state in acc_states:
    params = {
        "address": state,
        "key": gkey
    }
    geo_data = requests.get(geocode_json_base, params).json()
    try:
        state_lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
        state_lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
        print(state)
    except:
        print(f'address: {city} not found')
        state_lat.append("null")
        state_lng.append("null")

Wisconsin
Washington
California
Florida
Colorado
New Jersey
Arkansas
Illinois
Kentucky
Oklahoma
Texas
Ohio
Pennsylvania
New York
Missouri
Nevada
Massachusetts
Georgia
Iowa
Virginia
Maryland
Michigan
West Virginia
North Carolina
Tennessee
Arizona
Connecticut
Indiana
Rhode Island
Louisiana

In [82]:
state_df = pd.DataFrame({
    "acc_state": acc_states,
    "state_lat": state_lat,
    "state_lng": state_lng
})

state_df.head()

    acc_state  state_lat   state_lng
0   Wisconsin  43.784440  -88.787868
1  Washington  47.751074 -120.740139
2  California  36.778261 -119.417932
3     Florida  27.664827  -81.515754
4    Colorado  39.550051 -105.782067

In [83]:
df = pd.merge(df, city_df, how="left", on=["acc_city", "acc_state"])
df = pd.merge(df, state_df, how="left", on="acc_state")

In [84]:
df.drop_duplicates(subset="acc_id", inplace=True)
df.head()

,acc_id,acc_date,acc_state,acc_city,fix_port,source,bus_type,industry_sector,device_category,device_type,...,report,category,mechanical,op_error,employee,notes,city_lat,city_lng,state_lat,state_lng
0,1005755,2009-09-12,Wisconsin,Green Bay,F,"Wisconsin Dept. of Commerce, Safety and Buildi...",Amusement park,recreation,play equipment,Slide,...,NaN,Impact: hit something in participatory attraction,NaN,NaN,NaN,NaN,44.513319,-88.013296,43.784440,-88.787868
1,1005754,2009-06-28,Wisconsin,Madison,P,Media Report,Unknown,amusement ride,spinning,Ferris/gondola wheel,...,NaN,Equipment failure,1.0,1.0,NaN,http://wisinfo.biz/ic/caspio/amusementpark.html,43.073052,-89.401230,43.784440,-88.787868
2,1005753,2009-05-30,Wisconsin,Wisconsin Dells,F,Media Report,Amusement park,recreation,go-kart,Go-kart,...,NaN,Collision: patron-controlled vehicles,NaN,NaN,NaN,http://wisinfo.biz/ic/caspio/amusementpark.html,43.627479,-89.770958,43.784440,-88.787868
3,1004578,2009-04-17,Washington,Puyallup,P,Washington Dept. of Labor and Industries,Carnival or rental,amusement ride,spinning,Swing ride,...,NaN,Equipment failure,1.0,NaN,NaN,http://www.king5.com/article/news/local/amusem...,47.185378,-122.292897,47.751074,-120.740139
4,1007272,2009-04-05,California,Anaheim,F,California Division of Occupational Safety and...,Amusement park,amusement ride,cars & track rides,Track ride,...,NaN,Illness or neurological symptoms,NaN,NaN,NaN,NaN,33.836593,-117.914301,36.778261,-119.417932

In [85]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB
engine = create_engine("sqlite:///../../Resources/park_accidents.sqlite", encoding="ANSI")
conn = engine.connect()

In [86]:
df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.close()

In [87]:
state_count = df["acc_state"].value_counts().keys()

In [88]:
state = df["acc_state"].value_counts().keys()
count = df["acc_state"].value_counts().values

state_count_df = pd.DataFrame({
    "acc_state": state,
    "count": count
})

state_count_df.head()

      acc_state  count
0    New Jersey   5648
1    California   3430
2         Texas   3322
3       Florida   1074
4  Pennsylvania    270

In [89]:
state_count_df = pd.merge(state_count_df, state_df, how="outer", on="acc_state")
state_count_df

         acc_state  count  state_lat   state_lng
0       New Jersey   5648  40.058324  -74.405661
1       California   3430  36.778261 -119.417932
2            Texas   3322  31.968599  -99.901813
3          Florida   1074  27.664827  -81.515754
4     Pennsylvania    270  41.203322  -77.194525
5         Michigan    268  44.314844  -85.602364
6         Illinois    155  40.633125  -89.398528
7         Oklahoma    154  35.467560  -97.516428
8        Wisconsin    117  43.784440  -88.787868
9         Colorado    107  39.550051 -105.782067
10            Ohio     82  40.417287  -82.907123
11        New York     69  40.712775  -74.005973
12        Maryland     66  39.045755  -76.641271
13        Kentucky     38  37.839333  -84.270018
14          Nevada     31  38.802610 -116.419389
15            Iowa     15  41.878003  -93.097702
16  North Carolina     14  35.759573  -79.019300
17   Massachusetts     13  42.407211  -71.382437
18   West Virginia     12  38.597626  -80.454903
19     Connecticut     11  41.603221  -73.087749
20        Missouri      9  37.964253  -91.831833
21      Washington      9  47.751074 -120.740139
22         Indiana      8  40.267194  -86.134902
23    Rhode Island      5  41.580095  -71.477429
24        Arkansas      4  35.201050  -91.831833
25        Virginia      2  37.431573  -78.656894
26       Louisiana      1  30.984298  -91.962333
27         Arizona      1  34.048928 -111.093731
28       Tennessee      1  35.517491  -86.580447
29         Georgia      1  32.165622  -82.900075

In [90]:
state_count_df.to_csv("../../Resources/raw/state_counts.csv", index=False)

# TESTING

In [91]:
state_counts_csv = '../../Resources/raw/state_counts.csv'
csv_df = pd.read_csv(state_counts_csv)

In [92]:
csv_df.head()

  acc_state  count  state_lat   state_lng
0        NJ   5648  40.058324  -74.405661
1        CA   3430  36.778261 -119.417932
2        TX   3322  31.968599  -99.901813
3        FL   1074  27.664827  -81.515754
4        PA    270  41.203322  -77.194525

In [102]:
for index, row in csv_df.iterrows():
    print(row["acc_state"], row["state_lat"])

NJ 40.0583238
CA 36.778261
TX 31.968598800000002
FL 27.664827399999997
PA 41.2033216
MI 44.3148443
IL 40.6331249
OK 35.007751899999995
WI 43.78443970000001
CO 37.06250000000001
OH 40.4172871
NY 40.7127753
MD 39.0457549
KY 37.839333200000006
NV 38.8026097
IA 41.8780025
NC 35.759573100000004
MA 42.4072107
WV 38.59762620000001
CT 41.60322070000001
MO 37.9642529
WA 47.751074100000004
IN 40.2671941
RI 41.5800945
AR 36.1481727
VA 36.103255
TN 35.517491299999996
GA 32.1656221
LA 34.0522342
AZ 34.048928100000005

In [108]:
    params = {
        "address": "VA",
        "key": gkey
    }
    geo_data = requests.get(geocode_json_base, params).json()

In [109]:
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "9322",
                    "short_name": "9322",
                    "types": [
                        "street_number"
                    ]
                },
                {
                    "long_name": "East 41st Street",
                    "short_name": "E 41st St",
                    "types": [
                        "route"
                    ]
                },
                {
                    "long_name": "Tulsa",
                    "short_name": "Tulsa",
                    "types": [
                        "locality",
                        "political"
                    ]
                },
                {
                    "long_name": "Tulsa County",
                    "short_name": "Tulsa County",
                    "types": [
                        "administrative_area_level_2",
                        "political"
                    ]
                },
                {
                    "long_name": "Oklahoma",
                    "short_name": "OK",
                    "types": [
                        "administrative_area_level_1",
                        "political"
                    ]
                },
                {
                    "long_name": "United States",
                    "short_name": "US",
                    "types": [
                        "country",
                        "political"
                    ]
                },
                {
                    "long_name": "74145",
                    "short_name": "74145",
                    "types": [
                        "postal_code"
                    ]
                },
                {
                    "long_name": "3721",
                    "short_name": "3721",
                    "types": [
                        "postal_code_suffix"
                    ]
                }
            ],
            "formatted_address": "9322 E 41st St, Tulsa, OK 74145, USA",
            "geometry": {
                "location": {
                    "lat": 36.103255,
                    "lng": -95.8716018
                },
                "location_type": "ROOFTOP",
                "viewport": {
                    "northeast": {
                        "lat": 36.10460398029149,
                        "lng": -95.87025281970848
                    },
                    "southwest": {
                        "lat": 36.10190601970849,
                        "lng": -95.8729507802915
                    }
                }
            },
            "place_id": "ChIJkzbh9zuNtocRGMCA2--pX60",
            "types": [
                "establishment",
                "health",
                "point_of_interest"
            ]
        }
    ],
    "status": "OK"
}

In [67]:
df["bus_type"].unique()

array(['Amusement park', 'Unknown', 'Carnival or rental',
       'Family entertainment center', 'Water park', 'Pool waterslide',
       'Zoo or museum', 'Mall, store or restaurant', 'Other',
       'Sports or recreation facility', 'City or county park'],
      dtype=object)